<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matheus Karnas Castillo</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="introducao">
      <div class="name">
        <h1>Matheus Karnas Castillo</h1>
      </div>
      <div class="apresentacao">
        <p>
          Olá, sou Matheus Karnas Castillo, desenvolvedor web com foco em
          Front-End, especializado em React e em seu ecossistema. Atualmente
          curso
        </p>
        <p>
          Desenvolvimento de Software Multiplataforma na FATEC São José dos
          Campos, onde amplio constantemente meu conhecimento através de
          projetos acadêmicos e desafios práticos.
        </p>
        <p>
          minha principal experiência seja no Front-End, acredito que na área de
          tecnologia é essencial manter a mente aberta e a curiosidade sempre
          ativa. Não gosto de me limitar a uma única stack, e estou em busca
          constante de aprendizado, explorando novas áreas, ferramentas e
          soluções.
        </p>
        <p>
          Minha ambição é evoluir continuamente como profissional, agregando
          valor aos projetos em que atuo e expandindo meu domínio técnico e
          estratégico.
        </p>
      </div>
    </div>
    <div class="curriculo">
      <h2>Fomação Acadêmica</h2>
      <h4>
        Desenvolvimento de Software Multiplataforma – FATEC São José dos Campos
        (2024 - 2027)
      </h3>
      <div class="certicacao">
        <h3>Certificados</h3>
        <div class="certificados">
          <img src="/certificado-skrum.png" />
          <img src="/certificado-skrum-master.png" />
          <img src="/certificado-next.jpg" />
          <img src="/certificado-inovadores.png" />
        </div>
      </div>
      <h3>Tecnologias</h3>
      <div class="habilidades">
        <img
          height="50px"
          alt="ReactJS"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg"
        />
        <img
          fill="white"
          height="50px"
          backGround="#fff"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/less/less-plain-wordmark.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vercel/vercel-original.svg"
        />
        <img
          height="50px"
          src="https://seeklogo.com/images/S/supabase-logo-DCC676FFE2-seeklogo.com.png"
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg",
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg",
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg",
        />
        <img
          height="50px"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg",
        />
      </div>
    </div>
    <h2>Projetos</h2>
    <div class="projetos">
      <div class="projeto_miniatura">
        <h3>Vereadores</h3>
        <a href="/projetos/helpnei">
          <img class="imagem" src="/api2.png" alt="Personagens da Disney" />
        </a>
      </div>
      <div class="projeto_miniatura">
        <h3>Vereadores</h3>
        <a href="/projetos/vereadores">
          <img class="imagem" src="/api.gif" alt="Personagens da Disney" />
        </a>
      </div>
      <div class="projeto_miniatura">
        <h3>Personagens da Disney</h3>
        <a href="/projetos/disney">
          <img class="imagem" src="/disney.png" alt="Personagens da Disney" />
        </a>
      </div>
      <div class="projeto_miniatura">
        <h3>Encurtador de URLs</h3>
        <a href="/projetos/url">
          <img class="imagem" src="/url.png" alt="Encurtador de URLs" />
        </a>
      </div>
      <div class="projeto_miniatura">
        <h3>My Trips</h3>
        <a href="/projetos/trip">
          <img class="imagem" src="/trip.png" alt="My Trips" />
        </a>
      </div>
    </div>

    <div class="contato">
        <h2>Contatos</h2>
        <a href="https://www.linkedin.com/in/matheuskarnas/">
            <img
              src="https://img.shields.io/badge/Linkedin-blue?style=flat-square&logo=Linkedin&logoColor=white"
              alt=""
            />
          </a>
          <a href="https://github.com/matheuskarnas/">
            <img
              src="https://img.shields.io/badge/GitHub-111217?style=flat-square&logo=github&logoColor=white"
              alt=""
            />
          </a>
    </div>
  </body>
</html>
